# Port number
PORT=3000

# URL of the Mongo DB
MONGODB_URL=mongodb://127.0.0.1:27017/node-boilerplate

# JWT
# JWT secret key
JWT_SECRET=thisisasamplesecret
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

# SMTP configuration options for the email service
# For testing, you can use a fake SMTP service like Ethereal: https://ethereal.email/create
EMAIL_NAME=mage-its.com
SMTP_HOST=email-server
SMTP_PORT=587
SMTP_USERNAME=email-server-username
SMTP_PASSWORD=email-server-password
EMAIL_FROM=support@yourapp.com

APP_URL=https://localhost:69420

CORS_ORIGIN=https://pornhub.com

FIREBASE_PW=helloIamAveryS3curePassword

FRONTEND_PATH=././haxx69/for420/../urmomgae

# Whether to use recaptcha or not, value: true | false
USE_RECAPTCHA=false

RECAPTCHA_SECRET=abcdefghijklmnABCDEFG69420

LOGGING=true

CLOSE_DEVCOM=false
CLOSE_PROPOSAL=false
CLOSE_OLIM=false
CLOSE_PAYMENT_OLIM=false
CLOSE_SUBMIT_KARYA=false
